<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="pretty" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.apache.kafka" level="WARN" additivity="false">
        <appender-ref ref="pretty"/>
    </logger>


    <logger name="io.confluent.kafka" level="WARN" additivity="false">
        <appender-ref ref="pretty"/>
    </logger>

    <logger name="ks" level="INFO" additivity="false">
        <appender-ref ref="pretty"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="pretty"/>
    </root>

</configuration>
